.login-page {
    width: 600px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  
  .button-secondary{
    background-color: gray;
    color: white;
    margin-left: 10px;
  }