@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body,
* {
  font-family: "Inter", sans-serif;

  --skyblue: #0aa5e5;
  --light-gray: #eeeeee;
  --dark-gray: #808080;
  --red: #dc143c;
  --white: #ffffff;
  --black: #000000;

  --primary-text: var(--white);
  --primary-bg: var(--skyblue);
  --primary-border: var(--dark-gray);
  --primary-outline: var(--dark-gray);
  --primary-outline-focused: var(--skyblue);
  --primary-btn-outline: var(--skyblue);

  --secondary-text: var(--skyblue);
  --secondary-bg: var(--white);
  --secondary-border: var(--light-gray);
  --secondary-btn-outline: var(--skyblue);

  --disabled-text: var(--dark-gray);
  --disabled-bg: var(--light-gray);
  --disabled-outline: var(--light-gray);

  --danger-text: var(--red);
  --danger-btn-text: var(--white);
  --danger-outline: var(--red);
  --danger-bg: var(--red);
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

/* App container */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem 0rem;
  position: relative;
}

/* searchbar */

.searchbar-wrapper {
  width: 100%;
  text-align: center;
}

.searchbar-input {
  width: 60%;
  padding: 0.5rem 0.5rem;
  border: none;
  outline: 1px solid var(--primary-outline);
  border-radius: 5px;
}

.searchbar-input:focus {
  border: none;
  outline: 2px solid var(--primary-outline-focused);
}

.admintable {
  border-spacing: 0;
  width: 80%;
  margin: 0 auto;
}

.admintable-inner-wrapper {
  /* for responsiveness */
  min-height: 67.3vh;
  width: 90vw;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.empty {
  min-height: 0;
}

.tablerow-action-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tablerow-btn {
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.tablerow.selected {
  background-color: var(--disabled-bg);
}

tr:last-child {
  border-bottom: none;
}

input[type="checkbox"] {
  cursor: pointer;
}

/* Edit row  */

.tablerow-input {
  border: none;
  outline: 0.5px solid var(--primary-outline);
  border-radius: 5px;
  padding: 0.2rem 0.2rem;
}

.tablerow-input:focus {
  border: none;
  outline: 2px solid var(--primary-outline-focused);
}

.icon {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.icon-save {
  color: var(--primary-bg);
}

.icon-delete {
  color: var(--danger-bg);
}

/* AboutUs Component */

.about-container {
  width: 90vw;
  margin: 0 auto;
  min-height: 60vh;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  max-width: 800px;
}

.about-container,
.about-loading-wrapper,
.about-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.about-loading-wrapper {
  gap: 0.5rem;
}

.error {
  color: var(--danger-text);
}

.about-us-header {
  text-align: center;
  margin-bottom: 20px;
}

.about-us-header h1 {
  font-size: 2.5em;
  color: #ff0000;
}

.about-us-content h2 {
  color: #ff0000;
}

.about-us-footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
}

/* footer */

.footer {
  display: flex;
  align-items: center;
  margin-top: 148px;
  justify-content: center;
  min-height: 2.5rem;
  color: var(--disabled-text);
  width: 100%;
  text-align: center;
  background-color: var(--disabled-bg);
}

.footer-text {
  margin: 0 0;
}
.footer-text a {
  color: #000000;
  text-decoration: none;
}

@media (max-width: 600px) {
  .alert-text {
    font-size: 1rem;
  }
}

/* Responsiveness using media queries */

.container {
  width: 100%;
  padding: 20px;
}

/* For tablets (768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 750px;
    padding: 30px;
  }
}

/* For desktops (992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 970px;
    padding: 40px;
  }
}

/* For large desktops (1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    padding: 50px;
  }
}